body{
    font-family: 'Poppins', sans-serif;
}
.half-width{
    width: 40%;
    margin-left: 110px;
    margin-right: 20px;
}
.half-width-special{
    width: 40%;
}
.half-width img{
    width: 60%;
}
.half-width-special img{
    width: 70%;
}
.half-width-special1{
    width: 40%;
    padding-left: 150px;
}
.half-width-special1 img{
    width: 70%;
}
.flexible-display{
    display: flex;
    margin-top: 60px;
}
.half-width h1{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}
h1{
    font-weight: 800;
    font-size: 30px;
}
a{
   text-decoration: none; 
}
.orange-color{
    color: orange;
}
.design-button{
    color: white;
    padding: 8px 32px;
    border-radius: 5px;
    background-image: linear-gradient(red, tomato);
}
.half-width p{
    margin-bottom: 30px;
}
.three-items{
    padding: 5px 100px 5px 40px;
    margin: 0 250px 0 230px;
}
.one-third-width1{
    width: 32%;
    margin: 10px;
    padding: 25px;
    border-radius: 15px;
    background-color: lightblue;
}
.one-third-width2{
    width: 32%;
    margin: 10px;
    padding: 25px 25px 5px 25px;
    border-radius: 15px;
    background-color: lightsalmon;
}
.one-third-width3{
    width: 32%;
    margin: 10px;
    padding: 25px;
    border-radius: 15px;
    background-color: lightgreen;
}
.reduced-width{
    width: 60%;
}
.one-third-width2 img{
    width: 60%;
}
.one-third-width3 img{
    width: 60%;
}
.centring{
    text-align: center;
}
.section-3{
    padding: 0 10px 0 200px;
}
.section-4{
    padding: 5px 10px 0px 200px;
}