body{
    font-family: 'Poppins', sans-serif;
}
.half-width{
    width: 40%;
    margin-left: 110px;
    margin-right: 20px;
}
.half-width img{
    width: 60%;
}
.flexible-display{
    display: flex;
}
h1{
    font-weight: 700;
    font-size: 30px;
}
a{
   text-decoration: none; 
}
.orange-color{
    color: orange;
}
.design-button{
    color: white;
    padding: 8px 32px;
    border-radius: 5px;
    background-image: linear-gradient(red, tomato);
}
.half-width p{
    margin-bottom: 30px;
}